<Config>
    <App screenWidth="1200" screenHeight="800" targetFPS="60"/>
    <UI BaseTextSize="20">
        <BackgroundColor r="0" g="0" b="0" a="255"/>
        <PrimaryColor r="230" g="44" b="44" a="255"/>
        <SecondaryColor r="155" g="44" b="44" a="255"/>
        <TextColor r="255" g="255" b="255" a="255"/>
    </UI>
    <FilePaths ModelFolder=""/>
    <Engine SizeX="550" SizeY="350"/>
</Config>
